.a-cmnt-div{:style => "border-bottom: 2px solid #aaa", id: dom_id(comment)}
  %br
  = comment.body
  #h7 Posted by: #{comment.user.first_name if comment.user.present?}
  = link_to "Edit", edit_discussion_comment_path(discussion, comment) 
  = link_to "Delete", discussion_comment_path(discussion, comment), method: :delete, remote: true
  %br
