.well
  %h2 My Favourited Projects.
  %h5 Click on project title to view the project!
  %ul{:style => "list-style-type: none"}
    -@faves.each do |fave|
      %li
        = link_to fave.title, project_path(fave), style: "font-size: 2em"
