%h1 Projects#index
- @projects.each do |p|
  .droopy.well.col-md-12
    %h2 #{ link_to p.title, project_path(p) }
    %p Description: #{ p.description }
    %p Due in 
    - if p.due_date.present? 
      = time_ago_in_words(p.due_date) 
