- @projects.each do |p|
  .droopy.well.col-md-12
    %h2 #{ link_to p.title, project_path(p) }
    %p Description: #{ p.description }
    %p Created by: #{ p.user.full_name }
    - if p.due_date.present? 
      %p Due in #{ time_ago_in_words(p.due_date) } 
